<nav>

  <div class="vertical-buttons">
    <!--
    <nav-button caption='Flight View' route="flight_view"> </nav-button>
    <nav-button caption="Map" route = "map"> </nav-button>
    -->
    <nav-button caption="Scenarios" route = "scenarios"> </nav-button>
    <nav-button caption="Aircraft" route = "aircraft"> </nav-button>
    <nav-button caption="Slew" route ="slew"> </nav-button>
    <nav-button caption="Traffic" route = "traffic"> </nav-button>
    <nav-button caption="Weather" route = "weather"> </nav-button>
    <nav-button caption="Recording" route = "recording"> </nav-button>
    <nav-button caption="Log Sheet" route = "logs"> </nav-button>
    <nav-button caption="Settings" route = "settings"> </nav-button>
  </div>
</nav>
