<div style="font-size:20px; display:inline-block">

  <fieldset class="solid">
    <legend>Session</legend>

  <label for="membership-number">Membership Number</label>
  <input type="text" style="font-size:20px" id="membership-number" placeholder="Membership Number" #membershipNumber>
  <br>
  <label for="name">Name</label>
  <input type="text" style="font-size:20px" id="name" placeholder="Name" #memberName>
<button class="action" (click)="logOn(memberName.value, membershipNumber.value)">Start Session</button>
<button class="action" (click)="logOff()">End Session</button>

</fieldset>

  <fieldset class="solid">
  <legend>Add Log Comment</legend>

<label for="comment">Comment</label>
<input type="text" style="font-size:20px" id="comment" placeholder="Comment" #comment>
<br>
<button class="action" (click)="logInfo(comment.value)">Comment to log</button>

</fieldset>

</div>
