<div style="font-size:20px; display:inline-block">

  <fieldset class="solid">
    <legend>Session</legend>

  <label for="membership-number">Membership Number</label>
  <input type="text" style="fot-size:20px" id="membership-number" placeholder="Membership Number">
  <br>
  <label for="name">Name</label>
  <input type="text" style="font-size:20px" id="name" placeholder="Name">
<button class="action">Start Session</button>
<button class="action">End Session</button>

</fieldset>

<fieldset class="solid">
  <legend>Add Log Comment</legend>

<label for="comment">Comment</label>
<input type="text" style="fot-size:20px" id="comment" placeholder="Comment">
<br>
<button class="action">Comment to log</button>

</fieldset>

</div>
