<div class="top-container">
  <h1>Scenarios</h1>


  <!-- Tab links -->
  <div class="tab">
    <button *ngFor="let page of getScenarios().pages" [ngClass]="{tablinks : true, active : page.isFirst()}"
      (click)="selectTab($event, page.name)">{{page.name}}</button>
  </div>

  <!-- tab pages -->
  <div *ngFor="let page of getScenarios().pages" id="{{page.name}}"
    [ngClass]="{tabcontent : !page.isFirst(), tabcontent_active : page.isFirst()}">
    <cmd-button *ngFor="let item of page.items" caption="{{item.title}}" cmd="/scenario/load?file={{item.filename}}">
    </cmd-button>
    <h3>Preset Positions</h3>
    <cmd-button *ngFor="let item of getPositions().safeFindItemsFor(page.name).items" caption="{{item.title}}"
      cmd="/position/load?file={{item.filename}}"></cmd-button>
  </div>

  <button class="action" (click)="expandDialog(save_scenario_button, save_scenario_dialog)" #save_scenario_button>Save
    Scenario</button>
  <div #save_scenario_dialog style="display: none;">
    <fieldset class="solid">
      <legend>Save Scenario</legend>
      <app-named-item #scenario_details></app-named-item>
      <button class="action" (click)="saveScenario(scenario_details, save_scenario_button, save_scenario_dialog)">Save
        Scenario</button>
      <button class="action" (click)="contractDialog(save_scenario_button, save_scenario_dialog)">Cancel</button>
    </fieldset>
  </div>

  <fieldset class="solid">
    <legend>Rewind Position</legend>
    <button class="action" (click)="startRewind(rewind_slider,start_button, stop_button)" style="display:inline-block"
      #start_button>Start</button>
    <div class="slidecontainer" style="display:inline-block; width:80%">
      <input type="range" min="1" max="100" value="50" class="slider" style="display:inline-block; width:100%"
        (change)="rewindChange(rewind_slider)" disabled="true" #rewind_slider>
    </div>
    <button class="action" (click)="stopRewind(rewind_slider, start_button, stop_button)" disabled="true"
      style="float:right;" #stop_button>Stop</button>

  </fieldset>

  <fieldset class="solid">
    <legend>Move Position</legend>
    <cmd-button caption="Up 1000 feet" cmd="/position/up?feet=1000"></cmd-button>
    <cmd-button caption="Up 500 feet" cmd="/position/up?feet=500"></cmd-button>
    <cmd-button caption="Up 100 feet" cmd="/position/up?feet=100"></cmd-button>
    <cmd-button caption="Down 100 feet" cmd="/position/down?feet=100"></cmd-button>
    <cmd-button caption="Down 500 feet" cmd="/position/down?feet=500"></cmd-button>
    <cmd-button caption="Down 1000 feet" cmd="/position/down?feet=1000"></cmd-button>
  </fieldset>

  <button class="action" (click)="expandDialog(save_position_button, save_position_dialog)" #save_position_button>Save
    Position</button>
  <div #save_position_dialog style="display: none">
    <fieldset class="solid">
      <legend>Save Position</legend>
      <app-named-item #position_details></app-named-item>
      <button class="action" (click)="savePosition(position_details, save_position_button, save_position_dialog)">Save
        Position</button>
      <button class="action" (click)="contractDialog(save_position_button, save_position_dialog)">Cancel</button>
    </fieldset>
  </div>



</div>