<div class="container">
  <h1>Settings Form</h1>
  <form (ngSubmit)="onSubmit()" #settingsForm="ngForm">
      <label for="host">Host</label>
      <input type="text" class="form-control" id="host" required
        [(ngModel)]="model.api_host" name="host"
        #host="ngModel"
      >

      <div class="alert alert-danger" *ngIf="host.touched && !host.valid">
        Host is required
      </div>

      <label for="port">Port</label>
      <input type="text" class="form-control" id="port"
        [(ngModel)]="model.api_port" name="port"
      >

      <label for="title">Title</label>
      <input type="text" class="form-control" id="title"
        [(ngModel)]="model.title" name="title"
      >

    <button type="submit" class="btn btn-default"   [disabled]="!settingsForm.form.valid">Save Settings</button>

  </form>

  <div [hidden]="!submitted">
    Endpoint is {{model.api_host}} : {{model.api_port}}
  </div>
</div>
